body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0c0c0c;
}

.container {
    display: flex;
    width: 20%;
    gap: 10rem;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5rem;
}



button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.6;
    background-color: #f2f8fc;
    border-radius: 20px;
    border-color: #f2f8fc;

    &:hover {
        opacity: 1;
        transition: 0.3s;
        background-color: rgb(255, 204, 0);
        filter: drop-shadow(1px 1px 1px rgba(234,226,183,255));
    }
}

.box {
    width: 230px;
    height: 230px;
    background-color: rgb(135, 221, 222);
    position: absolute;
    top: 100px;
    object-fit: cover;
    transition: top 1.1s ease-in-out;
    border-radius: 7.5px;
    box-shadow: 0 5px 11px 0 rgba(255, 255, 255, 0.632), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.box2 {
    width: 230px;
    height: 230px;
    background-color: rgb(100, 219, 104);
    position: absolute;
    top: -500px;
    object-fit: cover;
    transition: top 1.1s ease-in-out ;
    border-radius: 7.5px;
    box-shadow: 0 5px 11px 0 rgba(255, 255, 255, 0.632), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}



